# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.*

# Config & secrets
config.json
*.sqlite3
*.db

# Logs
*.log

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# Streamlit local files
.streamlit/

# Render deploy specific
*.egg-info/
